<form [formGroup]="optionForm" (ngSubmit)="onSubmit()">
   <div>
      <label for="text">Option Text:</label>
      <textarea id="text" formControlName="text"></textarea>
   </div>
   <div>
      <label for="is_correct">Is Correct:</label>
      <input type="checkbox" id="is_correct" formControlName="is_correct">
   </div>
   <div>
      <label for="question">Question:</label>
      <select id="question" formControlName="question">
        <!-- <option *ngFor="let question of questions" [value]="question.id">{{question.question_text}}</option> -->
        @for(question of questions; track question.id){
         <option [value]="question.id">{{question.question_text}}</option>
        }
      </select>
   </div>
   <button type="submit">Add Option</button>
  </form>
  
<ul>
 <!-- <li *ngFor="let question of questions">{{ question.question_text }}</li> -->
 @for(option of options; track option.id){
    <li>{{option.text}}</li>
 }
</ul>