<div class="container">

    <header>
        <div class="leftButton">

            <button class="add-btn" (click)="routTo('standards')">Add Standard</button>
            <button class="add-btn" (click)="routTo('subjects')">Add Subject</button>
            <button class="add-btn" (click)="routTo('chapters')">Add Chapter</button>
            <button class="add-btn" (click)="routTo('topics')">Add Topic</button>
        </div>
        <button class="add-btn" (click)="routTo('questions')">Add</button>
    </header>
    
    <ag-grid-angular class="ag-theme-quartz"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    >
    
    </ag-grid-angular>
    <mat-paginator [length]="totalQuestions" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"></mat-paginator>
</div>
