<div class="container">

    <header>
        <div class="leftButton">

            <button class="add-btn" (click)="routTo('questions')">Add Subject</button>
            <button class="add-btn" (click)="routTo('questions')">Add Topic</button>
            <button class="add-btn" (click)="routTo('questions')">Add Chapter</button>
            <button class="add-btn" (click)="routTo('questions')">Add Standard</button>
        </div>
        <button class="add-btn" (click)="routTo('questions')">Add</button>
    </header>
    
    <ag-grid-angular class="ag-theme-quartz"
    [rowData]="rowData"
    [columnDefs]="colDefs">
    
    </ag-grid-angular>
    <mat-paginator [length]="totalQuestions" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"></mat-paginator>
</div>
