<div class="container">

    <header>
        <div class="leftButton">
            @if(permissionsService.getPermissions('Questions.add_standard')){
                <button class="add-btn" (click)="openStandardModal()">Add Standard</button>
            }
            @if(permissionsService.getPermissions('Questions.add_subject')){
                <button class="add-btn" (click)="openSubjectModal()">Add Subject</button>
            }
            @if(permissionsService.getPermissions('Questions.add_chapter')){
                <button class="add-btn" (click)="openChapterModal()">Add Chapter</button>
            }
            @if(permissionsService.getPermissions('Questions.add_topic')){
                <button class="add-btn" (click)="openTopicModal()">Add Topic</button>
            }
        </div>
        @if(permissionsService.getPermissions('Questions.add_question')){
            <button class="add-btn" (click)="openQuestionModal()">Add</button>
        }
    </header>
    
    <ag-grid-angular class="ag-theme-quartz"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    >
    
    </ag-grid-angular>
    <mat-paginator [length]="totalQuestions" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"></mat-paginator>
</div>
