<div class="container">
   <h2>Standards</h2>
   <i class="fa-solid fa-xmark closeModal" mat-button mat-dialog-close></i>

   <form [formGroup]="standardsForm" (ngSubmit)="onSubmit()" class="standard-form">
      <div class="inputFields">
         <label for="name">Name:</label>
         <input id="name" type="text" formControlName="name">
      </div>
      <div class="inputFields">
         <label for="subject">Subject:</label>
         <ng-select [items]="subjects"
                     bindLabel="name"
                     bindValue="id"
                     [multiple]="true"
                     formControlName="subjects"
                     placeholder="Select Subject">
         </ng-select>
      </div>
      <button type="submit">Add Standard</button>
   </form>
</div>