<!-- In standards.component.html -->

<!-- <h2>Standards</h2>
<form [formGroup]="standardForm" (ngSubmit)="onSubmit()">
 <div>
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name">
 </div>
 <button type="submit">Add Standard</button>
</form>
<ul>
 @for(standard of standards; track standard.id){
    <li>{{standard.name}}</li>
    <button (click)="deleteStandard(standard.id)">Delete</button>

 }
</ul> -->

<div class="container">
   <h2>Standards</h2>
   <i class="fa-solid fa-xmark closeModal" mat-button mat-dialog-close></i>


   <form [formGroup]="standardForm" (ngSubmit)="onSubmit()" class="standard-form">
      <div class="inputFields">
         <label for="name">Name:</label>
         <input id="name" type="text" formControlName="name">
      </div>
      <button type="submit">Add Standard</button>
   </form>
   <div class="standardList">
      <ul>
         @for(standard of standards; track standard.id){
         <div class="standard">

            <li>{{standard.name}}</li>
            <button (click)="deleteStandard(standard.id)" class="delete-btn"><i class="fas fa-trash"></i></button>
         </div>

         }
         <!-- <li *ngFor="let standard of standards" class="standard">
               {{standard.name}}
               <button (click)="deleteStandard(standard.id)" class="delete-btn">Delete</button>
           </li> -->
      </ul>
   </div>
</div>