.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for better contrast */
    z-index: 1000; /* Ensure navigation stays on top of other content */
  }
  
  .navigation button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .navigation button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .navigation {
      justify-content: space-between; /* Adjust alignment for smaller screens */
      padding: 5px; /* Reduce padding for smaller screens */
    }
  
    .navigation button {
      font-size: 14px; /* Decrease font size for smaller screens */
    }
  }