


<div class="container">
   <h2>Chapters</h2>
   <i class="fa-solid fa-xmark closeModal" mat-button mat-dialog-close></i>

   <form [formGroup]="chapterForm" (ngSubmit)="onSubmit()" class="chapter-form">
       <div class="inputFields">
           <label for="name">Name:</label>
           <input id="name" type="text" formControlName="name">
       </div>
       <!-- chapters.component.html -->
        <div class="inputFields">
            <div class="labelButton">
                <label for="subject">Subject:</label>
                <i
                  style="font-size: 30px; color: green; cursor: pointer"
                  class="fa-solid fa-circle-plus"
                  (click)="openSubjectModal()"
                ></i>
              </div>
            <ng-select [items]="subjects"
                        bindLabel="name"
                        bindValue="id"
                        formControlName="subject"
                        placeholder="Select Subject">
            </ng-select>
        </div>

       <!-- <div class="inputFields">
           <label for="topic">Topic:</label>
           <select id="topic" formControlName="topic">
            @for(topic of topics; track topic.id){
               <option [value]="topic.id">{{topic.name}}</option>
            }
           </select>
       </div> -->
       <button type="submit">Add Chapter</button>
   </form>
   
</div>