<h2>Chapters</h2>
<form [formGroup]="chapterForm" (ngSubmit)="onSubmit()">
 <div>
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name">
 </div>
 <div>
    <label for="topic">Topic:</label>
    <select id="topic" formControlName="topic">
      <!-- Assuming you have a method to fetch topics and populate this dropdown -->
      <!-- <option *ngFor="let topic of topics" [value]="topic.id">{{ topic.name }}</option> -->
      @for(topic of topics; track topic.id){
         <option [value]="topic.id">{{topic.name}}</option>
      }
    </select>
 </div>
 <button type="submit">Add Chapter</button>
</form>
<ul>
 <!-- <li *ngFor="let question of questions">{{ question.question_text }}</li> -->
 @for(chapter of chapters; track chapter.id){
    <li>{{chapter.name}}</li>
 }
</ul>