


<div class="container">
   <h2>Chapters</h2>
   <form [formGroup]="chapterForm" (ngSubmit)="onSubmit()" class="chapter-form">
       <div class="inputFields">
           <label for="name">Name:</label>
           <input id="name" type="text" formControlName="name">
       </div>
       <div class="inputFields">
           <label for="topic">Topic:</label>
           <select id="topic" formControlName="topic">
            @for(topic of topics; track topic.id){
               <option [value]="topic.id">{{topic.name}}</option>
            }
           </select>
       </div>
       <button type="submit">Add Chapter</button>
   </form>
   <div class="chapterList">
       <ul>
         @for(chapter of chapters; track chapter.id){
            <div class="chapter">

               <li class="chapter">{{chapter.name}}</li>
               <button (click)="deleteChapter(chapter.id)"  class="delete-btn">
                  <i class="fas fa-trash"></i>
               </button>
            </div>
        
         }
       </ul>
   </div>
</div>