<!-- <h2>Subjects</h2>
<ul>
 @for(subject of subjects; track subject.id){
    <li>{{subject.name}}</li>
 }
</ul> -->

<h2>Subjects</h2>
<form [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
 <div>
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name">
 </div>
 <button type="submit">Add Subject</button>
</form>
<ul>
 <!-- <li *ngFor="let subject of subjects">{{ subject.name }}</li> -->
 @for(subject of subjects; track subject.id){
   <li>{{subject.name}}</li>
}
</ul>