<!-- <h2>Subjects</h2>
<ul>
 @for(subject of subjects; track subject.id){
    <li>{{subject.name}}</li>
 }
</ul> -->

<div class="container">

   <h2>Subjects</h2>
   <i class="fa-solid fa-xmark closeModal" mat-button mat-dialog-close></i>

   <form class="subject-form" [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
      <div class="inputFields">
         <label for="name">Name:</label>
         <input id="name" type="text" formControlName="name">
      </div>
      <button type="submit">Add Subject</button>
   </form>
   
</div>