<!-- <h2>Subjects</h2>
<ul>
 @for(subject of subjects; track subject.id){
    <li>{{subject.name}}</li>
 }
</ul> -->

<div class="container">

   <h2>Subjects</h2>
   <form class="subject-form" [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
      <div class="inputFields">
         <label for="name">Name:</label>
         <input id="name" type="text" formControlName="name">
      </div>
      <button type="submit">Add Subject</button>
   </form>
   <ul class="subjectList">
      <!-- <li *ngFor="let subject of subjects">{{ subject.name }}</li> -->
      @for(subject of subjects; track subject.id){
         <div class="subject">

            <li>{{subject.name}}</li>
            <!-- <button (click)="deleteSubject(subject.id)">Delete</button> -->
            <button class="delete-btn" (click)="deleteSubject(subject.id)"> <i class="fas fa-trash"></i></button>

            
         </div>
      }
   </ul>
</div>