<nav class="navbar">
   <div class="navbar-logo">
      <a routerLink="/">
         <img src="assets/logo.png" alt="Logo" class="logo">
      </a>
   </div>
   <ul class="navbar-links">
      <li><a routerLink="/subjects">Subjects</a></li>
      <li><a routerLink="/topics">Topics</a></li>
      <li><a routerLink="/chapters">Chapters</a></li>
      <li><a routerLink="/questions-list">Questions</a></li>
      <li><a routerLink="/options">Options</a></li>
   </ul>
   <div class="navbar-actions">
      <button *ngIf="authService.isTokenExpired()" (click)="login()">Login</button>
      <div *ngIf="!authService.isTokenExpired()" class="user-profile">
         <span>Welcome, User!</span> <!-- Replace 'User' with the actual user's name -->
         <div class="dropdown">
            <button class="dropbtn">Options</button>
            <div class="dropdown-content">
               <a routerLink="/change-password">Change Password</a>
               <a (click)="logout()">Logout</a>
            </div>
         </div>
      </div>
   </div>
</nav>