<nav class="navbar no-print">
  <div class="navbar-logo">
    <a routerLink="/">
      <img src="assets/logo.png" alt="Logo" class="logo" />
    </a>
  </div>
  <ul class="navbar-links">
    @if(permissionsService.getPermissions('Questions.add_standard')){
      <li><a routerLink="/standards">Standards</a></li>
    }

    @if(permissionsService.getPermissions('Questions.add_subject')){
      <li><a routerLink="/subjects">Subjects</a></li>
    }

    @if(permissionsService.getPermissions('Questions.add_topic')){
      <li><a routerLink="/topics">Topics</a></li>
    }
    @if(permissionsService.getPermissions('Questions.add_chapter')){
      <li><a routerLink="/chapters">Chapters</a></li>
    }
    @if(permissionsService.getPermissions('Questions.view_question')){

    <li><a routerLink="/questions-list">Questions</a></li>
    }
    <!-- <li><a routerLink="/options">Options</a></li> -->
    @if(permissionsService.getPermissions('Questions.add_questionpaper')){
    <li><a routerLink="/question-generator">Question Paper Generator</a></li>
    }
    @if(permissionsService.getPermissions('Questions.view_questionpaper')){

    <li><a routerLink="/question-papers-list">Question Paper List</a></li>
    }
  </ul>
  <div class="navbar-actions">
    <button *ngIf="authService.isTokenExpired()" (click)="login()">
      Login
    </button>
    <div *ngIf="!authService.isTokenExpired()" class="user-profile">
      <span>Welcome, {{authService.username}}</span>
      <!-- Replace 'User' with the actual user's name -->
      <div class="dropdown">
        <button class="dropbtn">Options</button>
        <div class="dropdown-content">
          <a routerLink="/change-password">Change Password</a>
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
