<nav class="navbar">
    <div class="navbar-logo">
       <a routerLink="/">
         <img src="assets/logo.png" alt="Logo" class="logo">
       </a>
    </div>
    <ul class="navbar-links">
       <li><a routerLink="/subjects">Subjects</a></li>
       <li><a routerLink="/topics">Topics</a></li>
       <li><a routerLink="/chapters">Chapters</a></li>
       <li><a routerLink="/questions-list">Questions</a></li>
       <li><a routerLink="/options">Options</a></li>
    </ul>
    <div class="navbar-actions">
       <button *ngIf="authService.isTokenExpired()" (click)="login()">Login</button>
       <div *ngIf="!authService.isTokenExpired()" class="user-profile">
         <span>Welcome, User!</span> <!-- Replace 'User' with the actual user's name -->
         <button (click)="logout()">Logout</button>
       </div>
    </div>
   </nav>