.questionContainer{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}


/* In question-view.component.css */
.question-details {
    background-color: #f8f9fa;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    /* margin-bottom: 20px; */
    width: 50%;
    /* max-width: 800px; */
    /* margin-left: auto;
    margin-right: auto; */
    margin: 5rem;
    position: relative;

}

.question-details h2 {
    color: #343a40;
    margin-bottom: 15px;
}

.question-details p {
    color: #6c757d;
    margin-bottom: 10px;
}

.question-details img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 15px;
}

.options-list {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.options-list h3 {
    color: #343a40;
    margin-bottom: 10px;
}

.options-list ul {
    list-style-type: none;
    padding: 0;
}

.options-list li {
    margin-bottom: 5px;
}

.options-list li.correct-answer {
    color: #28a745;
    font-weight: bold;
}

.options-list li.incorrect-answer {
    color: #dc3545;
}



/* In question-view.component.css */


.btn-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 1rem;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333;
}

/* update-question-button.component.css or a similar CSS file */

.update-btn {
    background-color: #007bff; /* Red background for the update button */
    color: #fff; /* White text */
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px; /* Adjust font size as needed */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.update-btn:hover {
    background-color: #0056b3; /* Darker red on hover */
}