<h2>Topics</h2>
<form [formGroup]="topicForm" (ngSubmit)="onSubmit()">
 <div>
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name">
 </div>
 <div>
    <label for="subject">Subject:</label>
    <select id="subject" formControlName="subject">
      <!-- <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.name }}</option> -->
      @for(subject of subjects; track subject.id){
         <option [value]="subject.id">{{subject.name}}</option>
      }
    </select>
 </div>
 <button type="submit">Add Topic</button>
</form>
<!-- <h2>Topic</h2> -->
<ul>
 <!-- <li *ngFor="let question of questions">{{ question.question_text }}</li> -->
 @for(topic of topics; track topic.id){
    <li>{{topic.name}}</li>
 }
</ul>