<div class="container">
   <h2>Topics</h2>
   <i class="fa-solid fa-xmark closeModal" mat-button mat-dialog-close></i>

   
   
   <form [formGroup]="topicForm" (ngSubmit)="onSubmit()" class="topic-form">
      <div class="inputFields">
         <label for="name">Name:</label>
         <input id="name" type="text" formControlName="name">
      </div>
      <div class="inputFields">
         <div class="labelButton">
            <label for="chapter">Chapter:</label>
            <i
              style="font-size: 30px; color: green; cursor: pointer"
              class="fa-solid fa-circle-plus"
              (click)="openChapterModal()"
            ></i>
          </div>
         <ng-select [items]="chapters"
                     bindLabel="name"
                     bindValue="id"
                     placeholder="Select Chapter"
                     formControlName="chapter">
         </ng-select>
      </div>
      <button type="submit">Add Topic</button>
   </form>
</div>