.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    background-color: #f8f9fa; /* Light background for better readability */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Soft shadow for depth */
    min-height: 90vh;

}

.topic-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 2rem;
    padding: 2rem;
    background-color: #fff; /* White background for the form */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Soft shadow for depth */
}

.inputFields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputFields label {
    width: 6rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.inputFields input,
.inputFields select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

.topic-form button {
    width: 12rem;
    padding: 10px 20px;
    background-color: #007bff; /* Blue background */
    color: #fff; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.topic-form button:hover:not(:disabled) {
    background-color: #0056b3; /* Darker blue on hover */
}
.topicList{
    width: 60%;

}

.topicList ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: #e9ecef; /* Slightly darker background for the container */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Soft shadow for depth */
}

.topic {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #f8f9fa; /* Light background for each item */
    list-style-type: none; /* Remove default list styling */
}

.delete-btn {
    background-color: #dc3545; /* Red background for the delete button */
    color: #fff; /* White text */
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px; /* Adjust font size as needed */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.delete-btn:hover {
    background-color: #c82333; /* Darker red on hover */
}

.closeModal{
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    font-size: 1.5rem;
}

.labelButton{
    display: flex;
    justify-content:space-between;
  }

  button:disabled {
    background-color: #cccccc; /* Change the background color */
    cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
    opacity: 0.6; /* Optionally, reduce the opacity to further indicate it's disabled */
}