<div class="form-container">
  <form [formGroup]="questionPaperForm" (ngSubmit)="generateQuestionPaper()">
      <!-- Standard -->
      <div class="formField">
          <!-- <label for="standard">Standard:</label> -->
          <ng-select [items]="standards"
                      bindLabel="name"
                      bindValue="id"
                      formControlName="standard"
                      (change)="onStandardSelected($event)"

                      placeholder="Select Standard">
          </ng-select>
      </div>
      <!-- Subject -->
      <div class="formField">
        <div *ngIf="filteredSubjects.length" class="formField">
          <!-- <label for="subject">Subject:</label> -->
          <ng-select [items]="filteredSubjects"
                      bindLabel="name"
                      bindValue="id"
                      formControlName="subject"
                      (change)="onSubjectSelected($event)"
                      placeholder="Select Subject">
          </ng-select>
          
        </div>
      </div>
      <!-- Chapter -->
      <div *ngIf="filteredChapters.length" class="formField">
          <!-- <label for="chapter">Chapter:</label> -->
          <ng-select [items]="filteredChapters"
                      bindLabel="name"
                      bindValue="id"
                      formControlName="chapters"
                      [multiple]="true"
                      [closeOnSelect]="false"
                      [clearable]="false"
                      (change)="onChapterSelected($event)"
                      placeholder="Select Chapters">
          </ng-select>
      </div>
      <!-- Topic -->
      <div *ngIf="filteredTopics.length" class="formField">
          <!-- <label for="topic">Topic:</label> -->
          <ng-select [items]="filteredTopics"
                      bindLabel="name"
                      bindValue="id"
                      formControlName="topics"
                      [multiple]="true"
                      [closeOnSelect]="false"
                      [clearable]="false"
                      placeholder="Select Topics">
          </ng-select>
      </div>

      <div class="formField">
        <div class="gridLabel">
          <p>Type</p>
          <p>Marks</p>
          <p>Count</p>
          <p></p>
        </div>
        <div formArrayName="questionsGrid" *ngFor="let question of questionsGrid.controls; let i = index">
            <div [formGroupName]="i" class="question-row">
                <ng-select [items]="['mcq', 'tf', 'descriptive']"
                            bindLabel="name"
                            bindValue="id"
                            formControlName="type"
                            >
                </ng-select>
                <input type="number" formControlName="marks" placeholder="Marks" min="1" (ngModelChange) = "updateTotalMarksAndCount()">
                <input type="number" formControlName="count" placeholder="Count" min="1" (ngModelChange) = "updateTotalMarksAndCount()">
                <button (click)="removeQuestionRow(i)" class="btn" >
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
        <button (click)="addQuestionRow()" class="btn" [disabled]="questionsGrid.invalid" >
            <i class="fas fa-plus"></i> Add Question Type
        </button>
    </div>

    <div>
        <p>Total Marks: {{ totalMarks }}</p>
        <p>Question Count: {{ questionCount }}</p>
    </div>

    <!-- Submit Button -->
    <button type="submit" [disabled]="!questionPaperForm.valid" class="btn" >Generate Question Paper</button>
  </form>
  <!-- <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div> -->
</div>