<div class="form-container">
  <form [formGroup]="questionPaperForm" (ngSubmit)='generateQuestionPaper()'>
    <!-- Standard -->
    <div class="formField">
      <label for="standard">Standard:</label>
      <select id="standard" formControlName="standard">
        <option *ngFor="let standard of standards" [value]="standard.id">{{standard.name}}</option>
      </select>
    </div>
    <!-- Subject -->
    <div class="formField">

      <label for="subject">Subject:</label>
      <select id="subject" (change)="onSubjectSelected($event)" formControlName="subject">
        <option *ngFor="let subject of subjects" [value]="subject.id">{{subject.name}}</option>
      </select>
    </div>
    <!-- Chapter -->
    <div *ngIf="chapters.length" class="formField">
      <label for="chapter">Chapter:</label>
      <div class="chapterContainer">
        <div class="checkbox" *ngFor="let chapter of chapters">
          <input type="checkbox" id="{{'chapter' + chapter.id}}" [value]="chapter.id"
            (change)="onChapterSelected($event, chapter.id)">
          <label for="{{'chapter' + chapter.id}}">{{chapter.name}}</label>
        </div>
      </div>
    </div>
    <!-- Topic -->
    <div *ngIf="topics.length" class="formField">
      <label for="topic">Topic:</label>
      <div class="topicContainer">
        <div class="checkbox" *ngFor="let topic of topics">
          <input type="checkbox" id="{{'topic'+topic.id}}" [value]="topic.id"
            (change)="onTopicSelected($event, topic.id)">
          <label for="{{'topic'+topic.id}}">{{topic.name}}</label>
        </div>
      </div>
    </div>
    <!-- Difficulty Levels and Question Counts -->
<div *ngIf="selectedTopics.length" class="formField qCounts">
  <label>Difficulty Levels and Question Counts:</label>
  <div class="difficulty-levels">
     <!-- Easy Count -->
     <div class="difficulty-level">
       <label>Easy Count:</label>
       <input type="number" formControlName="easy">
     </div>
     <!-- Medium Count -->
     <div class="difficulty-level">
       <label>Medium Count:</label>
       <input type="number" formControlName="medium">
     </div>
     <!-- Hard Count -->
     <div class="difficulty-level">
       <label>Hard Count:</label>
       <input type="number" formControlName="hard">
     </div>
  </div>
 </div>
 
 <!-- Question Types and Question Counts -->
 <div *ngIf="selectedTopics.length" class="formField qCounts">
  <label>Questions Types and Question Counts:</label>
  <div class="question-types">
     <!-- MCQ Count -->
     <div class="question-type">
       <label>MCQ Count:</label>
       <input type="number" formControlName="mcq">
     </div>
     <!-- TF Count -->
     <div class="question-type">
       <label>True/False Count:</label>
       <input type="number" formControlName="tf">
     </div>
     <!-- Descriptive Count -->
     <div class="question-type">
       <label>Descriptive Count:</label>
       <input type="number" formControlName="descriptive">
     </div>
  </div>
 </div>
    <button type="submit" [disabled]="!selectedChapters">Generate Question Paper</button>
  </form>
</div>