<div class="question-details-container">
    <div class="question-details" *ngFor="let question of questions">
        <div class="question-header">
            <button (click)="deleteQuestion(question.id)" class="delete-btn">
              <i class="fas fa-trash"></i>
            </button>
        <div>
        <h2>{{ question.question_text }}</h2>
        <div class="question-fields">

            <p><strong>Type:</strong> {{ question.type }}</p>
            <p><strong>Difficulty Level:</strong> {{ question.difficulty_level }}</p>
            <p><strong>Standard:</strong> {{ question.standard_name }}</p>
            <p><strong>Subject:</strong> {{ question.subject_name }}</p>
            <p><strong>Marks:</strong> {{ question.marks }}</p>
            <p><strong>Topic:</strong> {{ question.topic_name }}</p>
            <p><strong>Chapter:</strong> {{ question.chapter_name }}</p>
        </div>
        <img *ngIf="question.image" [src]="question.image" alt="Question Image">
        <div *ngIf="question.options && question.options.length > 0" class="options-list">
            <h3>Options:</h3>
            <ul>
                <li *ngFor="let option of question.options" [class.correct-answer]="option.is_correct"
                    [class.incorrect-answer]="!option.is_correct">
                    {{ option.text }} - {{ option.is_correct ? 'Correct' : 'Incorrect' }}
                </li>
            </ul>
        </div>
        <!-- <button (click)="deleteQuestion(question.id)">Delete</button> -->
    </div>

</div>