/* General styling for the student-registration component */
.student-registration {
    display: flex;
    flex-direction: column;
    /* min-height: 90vh; */
    align-items: center;
    max-height: fit-content;
    /* justify-content: center; */
    /* gap: 1rem; */
    background-color: #f8f9fa; /* Light grey background */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

/* Form styling */
form {
    /* margin: auto; */
    width: 40vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 1rem;
    background-color: #ffffff; /* White background for the form */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

/* Form group styling */
.form-group {
    display: flex;
    /* flex-direction: column; */
    gap: 0.5rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}

/* Input and select styling */
.form-group input,.form-group select {
    width: 60%; /* Full width to utilize the form width */
    padding: 0.5rem;
    border: 1px solid #ced4da; /* Light grey border */
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Button styling */
button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* Primary blue */
    color: #ffffff; /* White text */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Error message styling */
.error-message {
    color: #dc3545; /* Red */
    margin-bottom: 1rem;
}

.closeModal{
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .error{
    color: red;
    text-align: right;
    padding-bottom: 1rem;
  }

  button:disabled {
    background-color: #cccccc; /* Change the background color */
    cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
    opacity: 0.6; /* Optionally, reduce the opacity to further indicate it's disabled */
}