<div class="candidates">
  <h2>Update Candidate</h2>
  <form [formGroup]="candidateForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="first_name">First Name*</label>
      <input
        type="text"
        id="first_name"
        formControlName="first_name"
        class="form-control"
        required
      />
      <div
        *ngIf="candidateForm.get('first_name')?.errors?.['required'] && candidateForm.get('first_name')?.touched"
        class="error"
      >
        First Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="last_name">Last Name*</label>
      <input
        type="text"
        id="last_name"
        formControlName="last_name"
        class="form-control"
        required
      />
      <div
        *ngIf="candidateForm.get('last_name')?.errors?.['required'] && candidateForm.get('last_name')?.touched"
        class="error"
      >
        Last Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="middle_name">Middle Name</label>
      <input
        type="text"
        id="middle_name"
        formControlName="middle_name"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="email">Email*</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
        required
      />
      <div
        *ngIf="candidateForm.get('email')?.errors?.['required'] || candidateForm.get('email')?.errors?.['email'] && candidateForm.get('email')?.touched"
        class="error"
      >
        Email is required and must be a valid format
      </div>
    </div>
    <div class="form-group">
      <label for="phone_number">Phone Number*</label>
      <input
        type="tel"
        id="phone_number"
        formControlName="phone_number"
        class="form-control"
        required
      />
      <div
        *ngIf="candidateForm.get('phone_number')?.errors?.['required'] && candidateForm.get('phone_number')?.touched"
        class="error"
      >
        Phone Number is required
      </div>
    </div>
    <div class="form-group">
      <label for="date_of_birth">Date of Birth*</label>
      <input
        type="date"
        id="date_of_birth"
        formControlName="date_of_birth"
        class="form-control"
        required
      />
      <div
        *ngIf="candidateForm.get('date_of_birth')?.errors?.['required'] && candidateForm.get('date_of_birth')?.touched"
        class="error"
      >
        Date of Birth is required
      </div>
    </div>
    <div class="form-group">
      <label for="gender">Gender*</label>
      <select
        id="gender"
        formControlName="gender"
        class="form-control"
        required
      >
        <option value="">Select Gender</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
        <option value="O">Other</option>
      </select>
      <div
        *ngIf="candidateForm.get('gender')?.errors?.['required'] && candidateForm.get('gender')?.touched"
        class="error"
      >
        Gender is required
      </div>
    </div>
    <div class="form-group">
      <label for="parents_name">Parents' Name*</label>
      <input
        type="text"
        id="parents_name"
        formControlName="parents_name"
        class="form-control"
        required
      />
      <div
        *ngIf="candidateForm.get('parents_name')?.errors?.['required'] && candidateForm.get('parents_name')?.touched"
        class="error"
      >
        Parents' Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="parents_phone_number">Parents' Phone Number*</label>
      <input
        type="tel"
        id="parents_phone_number"
        formControlName="parents_phone_number"
        class="form-control"
        required
      />
      <div
        *ngIf="candidateForm.get('parents_phone_number')?.errors?.['required'] && candidateForm.get('parents_phone_number')?.touched"
        class="error"
      >
        Parents' Phone Number is required
      </div>
    </div>

    <div class="form-group">
      <label for="highest_qualification">Highest Qualification*</label>
      <input
        type="text"
        id="highest_qualification"
        formControlName="highest_qualification"
        class="form-control"
        required
      />
      <div
        *ngIf="candidateForm.get('highest_qualification')?.errors?.['required'] && candidateForm.get('highest_qualification')?.touched"
        class="error"
      >
        Highest Qualification is required
      </div>
    </div>
    <div class="form-group">
      <label for="educational_institution">Educational Institution*</label>
      <input
        type="text"
        id="educational_institution"
        formControlName="educational_institution"
        class="form-control"
        required
      />
      <div
        *ngIf="candidateForm.get('educational_institution')?.errors?.['required'] && candidateForm.get('educational_institution')?.touched"
        class="error"
      >
        Educational Institution is required
      </div>
    </div>
    <div class="form-group">
      <label for="year_of_completion">Year of Completion*</label>
      <input
        type="number"
        id="year_of_completion"
        formControlName="year_of_completion"
        class="form-control"
        required
      />
      <div
        *ngIf="candidateForm.get('year_of_completion')?.errors?.['required'] && candidateForm.get('year_of_completion')?.touched"
        class="error"
      >
        Year of Completion is required
      </div>
    </div>

    <!-- <div class="form-group">
      <label for="entrance_test_applied_for">Entrance Test Applied For*</label>
      <input
        type="text"
        id="entrance_test_applied_for"
        formControlName="entrance_test_applied_for"
        class="form-control"
        required
      />
      <div
        *ngIf="candidateForm.get('entrance_test_applied_for')?.errors?.['required'] && candidateForm.get('entrance_test_applied_for')?.touched"
        class="error"
      >
        Entrance Test Applied For is required
      </div>
    </div> -->
    <div class="form-group">
      <label for="address">Address*</label>
      <input
        type="text"
        id="address"
        formControlName="address"
        class="form-control"
        required
      />
      <div
        *ngIf="candidateForm.get('address')?.errors?.['required'] && candidateForm.get('address')?.touched"
        class="error"
      >
        Address is required
      </div>
    </div>
    <div class="form-group">
      <label for="city">City*</label>
      <input
        type="text"
        id="city"
        formControlName="city"
        class="form-control"
        required
      />
      <div
        *ngIf="candidateForm.get('city')?.errors?.['required'] && candidateForm.get('city')?.touched"
        class="error"
      >
        City is required
      </div>
    </div>
    <div class="form-group">
      <label for="state">State*</label>
      <input
        type="text"
        id="state"
        formControlName="state"
        class="form-control"
        required
      />
      <div
        *ngIf="candidateForm.get('state')?.errors?.['required'] && candidateForm.get('state')?.touched"
        class="error"
      >
        State is required
      </div>
    </div>

    <div class="form-group">
      <label for="postal_code">Postal Code*</label>
      <input
        type="text"
        id="postal_code"
        formControlName="postal_code"
        class="form-control"
        required
      />
      <div
        *ngIf="candidateForm.get('postal_code')?.errors?.['required'] && candidateForm.get('postal_code')?.touched"
        class="error"
      >
        Postal Code is required
      </div>
    </div>
    <div class="form-group">
      <label for="country">Country*</label>
      <input
        type="text"
        id="country"
        formControlName="country"
        class="form-control"
        required
      />
      <div
        *ngIf="candidateForm.get('country')?.errors?.['required'] && candidateForm.get('country')?.touched"
        class="error"
      >
        Country is required
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
