<div class="container">
  <header>
    @if(permissionsService.getPermissions('Questions.add_student')){

    <button
      class="add-btn"
      mat-raised-button
      color="primary"
      (click)="openStudentRegistrationModal(null)"
    >
      Open Student Registration
    </button>
    }
  </header>

  <ag-grid-angular
    class="ag-theme-quartz"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    [domLayout]="'autoHeight'"
    [autoSizeStrategy]="autoSizeStrategy"

  >
  </ag-grid-angular>
</div>
