.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.ag-theme-quartz {
    flex-grow: 1; /* Allow the ag-grid to take up the remaining space */
    /* Add any other styles you need */
}